.list-unstyled {
    padding-left: 0;
    list-style: none;
}

header{
	display:block;
}

li {
    display: block;
    text-align: -webkit-match-parent;
}

ul{
	display: block;
   }

.navbar{
	height: 30px;
}

.fa {
    display:inline-block;
    font: normal normal normal 14px/1 FontAwesome;    
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.course-search-box-nav{
	float: left;
	padding: 5px 5px 5px 20px;
	width: 45%;
	max-width: 506px;
	position: relative;
	display: inline-block;
}

.search-nav{
	height: auto;
	width: 100%;
}

.pull-left{
	float: left!important;
}


.dropdown, .dropup{
	position: absolute;
}

.select_down{
	background: rgba(0,0,0,0) none repeat scroll 0 0;
	border-right: 1px solid red;
	height: 30px;
	line-height: 24px;
	padding: 0 16px;
	z-index: 1042;
	position: absolute;
	color: #ef1f1f;
}

.open >a{
	outline: 0;
}

.dropdown-toggle{
	cursor: pointer;
}



.search-nav .dropdown-menu{
	height: 400px;
	box-shadow: -1px 1px 50px 0;
	min-width: inherit;
	width: 230px;
	background-color: #3f6f98!important;
	margin-top: 10px;
	border:none;
	text-overflow: inherit;   
    border-radius: 10;
    margin-top: 20px;
}



.dropdown-menu{
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	padding: 5px 0;
	margin: 2px 0 0;
	text-align: left;
	list-style: none; 
}

.search-nav .dropdown-menu >li.active ul.level2{
	display: block;
	width: 285px;
}

.dropdown-menu > li > ul.level2{
	background-color: #fff;
	width: 285px;
	padding-top: 0px;
	box-shadow: 1px 1px 5px 0;
	height: 100%; 
	
}


.dropdown-menu > li > ul.level-2 li > a {
    color: #ce1a1a !important;
    font-size: 13px;
    padding: 5px 15px;
    font-weight: 600;
    position: absolute;
    left: 190px;
    top: 0px;
	display: block;
}

.dropdown-menu > li a:hover{
	display: block;
}



/*main 1*/
/*
.dropdown-menu{
	color: green;
	position: absolute;
}

li {
    display: block;
    text-align: -webkit-match-parent;
}

ul{
	display: block;
   }

.course-search-box-nav{
	position: relative;
}

.search-nav{

}

.pull-left{

}

.select_down{

}

.open >a{

}

.dropdown-toggle{

}

.search-nav .dropdown-menu{
	background-color: #3f6f98!important;
	color: #fff;
}

.dropdown-menu{
	position: absolute;
	
	
}

.search-nav .dropdown-menu >li.active ul.level2{

}

.dropdown-menu > li > ul{
	position: absolute;
	left: 250px;
	background: ;
	text-overflow: inherit;
	width: 100%;

}

.dropdown-menu > li > ul.level-2 li{
	
}*/


